ul{
  list-style:none;
  padding:0;
  margin:0;
}

a
{
  text-decoration: none;
  color: lavenderblush;
}

.spacer
{
  flex : 1 1 auto;
  /* pushes new post to the right */
}

mat-toolbar
{
  /* background-color: navy; */
  background-image: url("https://wallpapercave.com/wp/wp5952080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

ul{
  display: flex;
}
