<mat-toolbar>
  <span><a routerLink="/">Aurora Blog</a>
  </span>
  <span class="spacer"></span>
   <ul>
     <li *ngIf= "userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
     </li>
     <li>
       <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
     </li>
     <li>
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <li *ngIf= "userIsAuthenticated">
     <button mat-button color="accent" (click)= "onLogout()" mat-accent>Logout</button>
    </li>
   </ul>
</mat-toolbar>

